[submodule "module/LocalAudio"]
	path = module/LocalAudio
	url = https://github.com/IITPP-Roblox/LocalAudio.git
[submodule "module/LocalTween"]
	path = module/LocalTween
	url = https://github.com/IITPP-Roblox/LocalTween.git
[submodule "module/Nexus-Appendage"]
	path = module/Nexus-Appendage
	url = https://github.com/TheNexusAvenger/Nexus-Appendage.git
[submodule "module/Nexus-Buffered-Replication"]
	path = module/Nexus-Buffered-Replication
	url = https://github.com/TheNexusAvenger/Nexus-Buffered-Replication.git
